.navbar .nav-item.avatar .dropdown-toggle img {
  height: 35px;
}
img.img-fluid.rounded-circle.z-depth-0 {
  height: 1px;
  size: 1px;
  padding: 1;
  width: 1px;
}
.active {
  background: #dc824f;
}
